* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

h1 {
  font-size: 50px;
  text-align: center;
}

#shadow {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s ease;
}

#navbar {
  position: absolute;
  top: 0;
  background-color: #24243b;
  width: 295px;
  height: 100%;
  border-right: 5px solid #8c99bf;
  z-index: 1;
  margin-left: -300px;
  transition: all 0.5s ease;
}

#close-menu {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 30px;
  color: #fff;
  display: none;
  z-index: 1;
}

#open-menu {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 30px;
  color: #000;
  z-index: 1;
}

.logo {
  width: 150px;
  padding: 30px;
}

.links {
  display: flex;
  flex-direction: column;
}

.links li {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.links li a,
.links li span {
  display: block;
  color: #fff;
  padding: 15px 30px;
}

#sub-navbar li a,
#sub-navbar li span {
  padding: 15px 10px 15px 50px;
}

#sub-navbar {
  background-color: rgba(255, 255, 255, 0.06);
  height: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}

#toggle-sub-navbar {
  display: flex;
  padding: 0;
  justify-content: space-between;
  align-items: center;
}

#toggle-sub-navbar-icon {
  border: 2px solid #fff;
  border-top: 0;
  border-left: 0;
  width: 8px;
  height: 8px;
  display: block;
  padding: 0;
  margin-right: 25px;
  transform: rotate(45deg);
}

@media only screen and (min-width: 700px) {
  #open-menu,
  #close-menu,
  #shadow,
  .content .logo {
    display: none;
  }

  #navbar {
    position: initial;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    height: fit-content;
    border: 0;
  }

  #navbar .logo {
    padding: 30px;
  }

  .links {
    display: flex;
    flex-direction: row;
  }

  .links li {
    border-right: 1px solid rgba(94, 112, 157, 0.5);
  }

  .links li a,
  .links li span {
    color: #5e709d;
    padding: 5px 30px;
    cursor: pointer;
  }

  #sub-navbar li a,
  #sub-navbar li span {
    padding: 15px 30px;
  }

  .links li a:hover {
    background-color: rgba(94, 112, 157, 0.1);
  }

  #sub-navbar {
    flex-direction: column;
    position: absolute;
    margin-top: 20px;
    box-shadow: 0 30px 70px 0 rgba(41, 41, 43, 0.1);
  }

  #sub-navbar li {
    border: 0;
    /* border-bottom: 1px solid rgba(94, 112, 157, 0.5); */
    background-color: #fff;
  }

  #toggle-sub-navbar {
    display: flex;
    padding: 0;
    justify-content: space-between;
    align-items: center;
  }
  
  #toggle-sub-navbar-icon {
    border-color: #5e709d;
  }

  .links li:last-child {
    border: 0;
  }

  .content {
    margin-top: 100px;
  }
}
